In [15]:
import numpy as np
import pandas as pd

In [16]:
a = np.array([[7, 8, 9]])

In [17]:
a.tobytes()

b'\x07\x00\x00\x00\x08\x00\x00\x00\t\x00\x00\x00'

In [18]:
b = pd.DataFrame(a)

In [19]:
b

   0  1  2
0  7  8  9

In [20]:
mountain_height = pd.Series([2061, 2035.8, 2028.5, 2022.5, 2016.4])

In [21]:
mountain_height

0    2061.0
1    2035.8
2    2028.5
3    2022.5
4    2016.4
dtype: float64

In [23]:
mountain_height = pd.Series(
    data = [2061, 2035.8, 2028.5, 2022.5, 2016.4],
    index = ["Goverla", "Brebenskyl", "Pip_Ivan", "Petros", "Gutin_Tomnatik"],
    name = 'Mountains height',
    dtype = float
)

In [24]:
mountain_height

Goverla           2061.0
Brebenskyl        2035.8
Pip_Ivan          2028.5
Petros            2022.5
Gutin_Tomnatik    2016.4
Name: Mountains height, dtype: float64

In [30]:
print(mountain_height['Goverla'])

2061.0

In [32]:
print(mountain_height[['Goverla', 'Pip_Ivan']])

Goverla     2061.0
Pip_Ivan    2028.5
Name: Mountains height, dtype: float64

In [36]:
print(mountain_height > 2030)

Goverla            True
Brebenskyl         True
Pip_Ivan          False
Petros            False
Gutin_Tomnatik    False
Name: Mountains height, dtype: bool

In [37]:
print('Goverla' in mountain_height)

True

In [38]:
mountain_height.sort_index(inplace=True)

In [39]:
mountain_height

Brebenskyl        2035.8
Goverla           2061.0
Gutin_Tomnatik    2016.4
Petros            2022.5
Pip_Ivan          2028.5
Name: Mountains height, dtype: float64

In [40]:
mountain_height.sort_values()

Gutin_Tomnatik    2016.4
Petros            2022.5
Pip_Ivan          2028.5
Brebenskyl        2035.8
Goverla           2061.0
Name: Mountains height, dtype: float64

In [41]:
contacts = pd.DataFrame(
    {
        "name": [
            "Allen Raymond",
            "Chaim Lewis",
            "Kennedy Lane",
            "Wylie Pope",
            "Cyrus Jackson",
        ],
        "email": [
            "nulla.ante@vestibul.co.uk",
            "dui.in@egetlacus.ca",
            "mattis.Cras@nonenimMauris.net",
            "est@utquamvel.net",
            "nibh@semsempererat.com",
        ],
        "phone": [
            "(992) 914-3792",
            "(294) 840-6685",
            "(542) 451-7038",
            "(692) 802-2949",
            "(501) 472-5218",
        ],
        "favorite": [False, False, True, False, True],
    },
    index=[1, 2, 3, 4, 5],
)

print(contacts)

            name                          email           phone  favorite
1  Allen Raymond      nulla.ante@vestibul.co.uk  (992) 914-3792     False
2    Chaim Lewis            dui.in@egetlacus.ca  (294) 840-6685     False
3   Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True
4     Wylie Pope              est@utquamvel.net  (692) 802-2949     False
5  Cyrus Jackson         nibh@semsempererat.com  (501) 472-5218      True

In [42]:
contacts['name']

1    Allen Raymond
2      Chaim Lewis
3     Kennedy Lane
4       Wylie Pope
5    Cyrus Jackson
Name: name, dtype: object

In [43]:
contacts.loc[1]

name                    Allen Raymond
email       nulla.ante@vestibul.co.uk
phone                  (992) 914-3792
favorite                        False
Name: 1, dtype: object

In [44]:
contacts.iloc[1]

name                Chaim Lewis
email       dui.in@egetlacus.ca
phone            (294) 840-6685
favorite                  False
Name: 2, dtype: object

In [45]:
contacts[0:3]

            name                          email           phone  favorite
1  Allen Raymond      nulla.ante@vestibul.co.uk  (992) 914-3792     False
2    Chaim Lewis            dui.in@egetlacus.ca  (294) 840-6685     False
3   Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True

In [46]:
contacts[contacts['favorite']]

            name                          email           phone  favorite
3   Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True
5  Cyrus Jackson         nibh@semsempererat.com  (501) 472-5218      True