In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./2017_jun_final.csv')

In [3]:
data.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [4]:
data.shape

(8704, 25)

In [5]:
data.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [6]:
data.isnull().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [7]:
not_null_values = data.isnull().sum()[data.isnull().sum() > 0].index

In [8]:
data.drop(not_null_values[1:], inplace=True, axis=1)

In [9]:
data.isnull().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

Удалите все строки в исходной таблице с помощью метода dropna

In [10]:
data = data.dropna()

In [11]:
data.shape

(4854, 20)

In [12]:
#  Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python
data['Язык.программирования'].unique()

array(['C#/.NET', 'JavaScript', 'C++', 'Java', 'Scala', 'Python',
       'Ruby/Rails', 'Perl', 'Swift', 'PHP', 'C', 'Objective-C', '1С',
       'SQL', 'Other', 'Golang', 'Flex/Flash/AIR', 'Erlang', 'Delphi',
       'Haskell', 'ABAP', 'APL'], dtype=object)

In [13]:
python_data = data[data['Язык.программирования'] == 'Python']

In [14]:
python_data.shape

(207, 20)

In [15]:
for label_df, df in python_data.groupby(['Должность']):
    print(label_df)
    print(df.shape[0])

Junior Software Engineer
63
Senior Software Engineer
31
Software Engineer
100
System Architect
2
Technical Lead
11

Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [16]:
data_1 = pd.read_csv('./2017_jun_final.csv')

In [17]:
data_1.groupby(['Должность'])['Зарплата.в.месяц'].agg([np.min, np.max])

                                            amin   amax
Должность
Business analyst                             200   5000
DBA                                          380   6000
Data Scientist / Data Analyst                150   8000
Designer                                     100   4000
DevOps                                       194  10000
Director of Engineering / Program Director  1500  34000
ERP / CRM                                    100   6000
Game designer                                150   6800
HR                                           100   7000
HTML coder                                   154   3000
Junior QA engineer                            96   2000
Junior Software Engineer                      75   2600
Marketing                                    100   4000
Product Manager                              250   5000
Project manager                              190   8000
QA Tech Lead                                 430   6000
QA engineer                                  150   2900
Research Engineer                            114   4000
Sales manager                                120   2300
Scrum Master                                 370   4500
Security Specialist                          300   4000
Senior Project Manager / Program Manager     200   9100
Senior QA engineer                           400   6000
Senior Software Engineer                     350   9200
Software Engineer                            100   7000
Support                                      138   3650
Sysadmin                                      90   3000
System Architect                             400  10000
Talent Researcher                            100   1700
Team lead                                    300   7000
Technical Lead                               500  18000
Technical writer                             200   3000

Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [18]:
def fill_avg_salary(salary):
    return np.mean(salary)

In [19]:
avg_salaries = data_1.groupby(['Должность'])['Зарплата.в.месяц'].apply(fill_avg_salary)

In [20]:
data_1['avg'] = data_1['Должность'].map(avg_salaries.to_dict())

In [21]:
data_1['avg'].describe()

count    8704.000000
mean     1666.704159
std       984.897129
min       482.774752
25%       817.339130
50%      1678.630074
75%      2162.688235
max      5066.363636
Name: avg, dtype: float64

In [23]:
data_1.to_csv('new_csv_file_test.csv')

# Module 3

In [29]:
import matplotlib.pyplot as plt
import seaborn as sns

ImportError: DLL load failed while importing _arpack: The specified procedure could not be found.